@model DriverLines.Data.Tables.Line

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Line</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleType" class="control-label"></label>
                <input asp-for="VehicleType" class="form-control" />
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleNumber" class="control-label"></label>
                <input asp-for="VehicleNumber" class="form-control" />
                <span asp-validation-for="VehicleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingSeats" class="control-label"></label>
                <input asp-for="RemainingSeats" class="form-control" />
                <span asp-validation-for="RemainingSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverName" class="control-label"></label>
                <input asp-for="DriverName" class="form-control" />
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderType" class="control-label"></label>
                <input asp-for="GenderType" class="form-control" />
                <span asp-validation-for="GenderType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cooling" /> @Html.DisplayNameFor(model => model.Cooling)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

